<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Stock</title>
</head>
<body>

    <h1>Add New Stock</h1>

    <!-- Stock form -->
    <form method="POST">
        Stock Name: <input type="text" name="stock" id="stockInput" required value="{{ stock_name }}">
        <br><br>
        Quantity: <input type="number" name="quantity" required>
        <br><br>
        Price: <input type="number" step="0.01" name="price" required>
        <br><br>
        <input type="submit" value="Add Stock">
    </form>

</body>
</html>
