<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form method="post">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <button type="submit">Signup</button>
        <a href="{{ url_for('home') }}">Login</a>
    </form>
</body>
</html>
